.form
  = form_for([@todo_list, @todo_list.todo_items.build]) do |f|
    .form-group.d-flex
      = f.text_field :content, placeholder: "New Todo", class: "form-control mr-2", required: true
      = f.submit class: 'btn btn-primary', value: 'Add todo'
