.mt-5
  %h1.text-center.display-4.mb-5 To do Lists
  .card
    .card-body
      - @todo_lists.each do |todo_list|
        %div
          %h4.card-title= link_to todo_list.title, todo_list
          %p.todo_list_sub_title= todo_list.description
      .text-center
        = link_to "New Todo List", new_todo_list_path, class: 'btn btn-primary'
