/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import 'bootstrap/dist/css/bootstrap';

$dark_text: #565454;

body {
  color: $dark_text;
}

h1, h2, h3, h4, h5 {
  font-family: Quicksand;
}

.back-link {
  text-decoration: none !important;
  font-size: 20px;
  i {
    font-size: 16px;
  }
}

//a.link-gray {
//  color: gray;
//}

.app {
  margin-top: 150px;
  margin-bottom: 150px;
  position: relative;
}

.alert {
  position: absolute;
  bottom: 100%;
  right: 0;
  margin-right: 15px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1340px;
  }
}

.todo-item-edit  {
  display: none;
}

.lists {
  &__container {
    @extend .container;
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    margin-bottom: 20px;
  }
  &__item-card {
    text-decoration: none;
    h4, p {
      color: $dark_text;
    }
    &:hover {
      box-shadow: 0px 1px 10px #3EADCF4D;
      text-decoration: none;
    }
  }
}

